body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
}

#intro {
 font-size: 1.5em;
}

input {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  text-align: center;
}

input[type=submit] {
  padding: 10px 15px;
  background-color: #EFEFEF;
  color: #000;
  border-radius: 3px;
  font-size: 0.9em;
}

input[type=text] {
  padding: 5px 10px;
  font-size: 0.9em;
  border: 2px;
}

#temp-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp {
  font-size: 128px;
  padding-left: 24px;
  display:inline-block;
}

.sign {
  font-size: 32px;
  padding-bottom: 80px;
  width: 24px;
  display:inline-block;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}